*{
 			/*border: solid 1px black; */
		}
		body{
  			justify-content: center;
			font-family: "微軟正黑體";
		}
		div.all{
			background-color: #448C24;
			width:1000px;
			height:1120px;
			padding-top: 1.9%;
		}
		div.bor{
			border: 6px solid white;
			width:900px;
			height:1040px;
			display: flex;
		}
		div.leftside{
			color: white;
			padding-left:4%; 
			margin-top: 6%;
			margin-bottom: 6%;
			height: 800px
			width:310px;
			text-align: left;
			flex:6;
			border-right: 3px solid white;
		}
		div.rightside{
			flex:6;
			color: white;
			padding-left:4%; 
			margin-top: 6%;
			margin-bottom: 6%;
			height: 800px
			width:310px;
			text-align: left;
		}
		h1{
			font-size: 40px;
		}
		h2{
			border-bottom: 3px solid #F9F57F;
			width: 260px; 
		}
		h2.bottom{
			width:105px;
		}
		@keyframes but {
			0% {margin-left: 60%}
			100% {margin-left: 0%}
		}
		.button{
			animation-name: but;
			animation-duration: 3s;
			background-color: #448C24;
			color: white;
			border: 3px solid #F9F57F;
			padding:0.5% 1%;
			text-decoration:none;
			font-size: 20px;
			font-weight: bold;
			font-family: "微軟正黑體";
		}
		.button:hover{
			color: #448C24;
			background-color: #F9F57F;
			border: 3px solid #F9F57F;
			padding:0.5% 1%;
			text-decoration:none;
			font-size: 20px;
			transition: 0.5s;
			font-weight: bold;
			font-family: "微軟正黑體";
		}
		p.skill{
			font-size: 19px;
			font-weight: bold;
		}
		.skillbar {
  			width: 350px;
  			height: 20px;
  			background-color: #ddd;
  			border-radius: 50px;
		}
		.skills {
  			text-align: right;
  			color: black;
  			height: 20px;
  			border-radius: 50px 0px 0px 50px ;
  			font-weight: bold;
  			padding-right: 2%;
		}
		@keyframes skill70 {
			0% {width: 0%}
			100% {width: 70%}
		}
		@keyframes skill50 {
			0% {width: 0%}
			100% {width: 50%}
		}
		@keyframes skill90 {
			0% {width: 0%}
			100% {width: 90%}
		}
		@keyframes skill60 {
			0% {width: 0%}
			100% {width: 60%}
		}
		div.s1{
			animation-name: skill70;
			animation-duration: 3s;
			width: 70%;
			background-color:#FFB326;
		}
		div.s2{
			animation-name: skill70;
			animation-duration: 3s;
			width: 70%;
			background-color:#FFB326;
		}
		div.s3{
			animation-name: skill50;
			animation-duration: 3s;
			width: 50%;
			background-color:#FFB326;
		}
		div.s4{
			animation-name: skill90;
			animation-duration: 3s;
			width: 90%;
			background-color:#FFB326;
		}
		div.s5{
			animation-name: skill60;
			animation-duration: 3s;
			width: 60%;
			background-color:#FFB326;
		}
		*{ 
		  	box-sizing: border-box;
		}

		.timeline{
		  	position: relative;
		  	max-width: 1200px;
		  	margin: 0 auto;
		}
		.timeline::after {
		  	content: '';
		  	position: absolute;
		  	width: 6px;
		  	background-color: white;
		  	top: 0;
		  	bottom: 0;
		  	height: 450px;
		  	left: 50%;
		  	margin-left: -5.8%;
		}
		.container{
		  	padding: 0.01% 4%;
		  	position: relative;
		  	background-color: inherit;
		  	width: 50%;
		}
		.container::after{
		  	content: '';
  			position: absolute;
  			width: 25px;
  			height: 25px;
  			right: -11.7%;
  			background-color: white;
  			border: 4px solid #FF9F55;
  			top: 15%;
  			border-radius: 50%;
  			z-index: 1;
		}
		.left{
		  	left: -7%;
		}
		.right{
		  	left: 47%;
		}
		.right::after{
		  	left: -12%;
		}
		@keyframes ex {
			0% {opacity: 0}
			100% {opacity: 1}
		}
		.content{
			animation-name: ex;
			animation-duration: 3s;
			padding-left: 3%;
			color: white;
		  	background-color: #448C24;
		  	position: relative;
		  	border-radius: 6px;
		  	border: 3px solid white;
		}
		p.experience{
			font-size: 18px;
			font-weight: bold;
		}
		p.work{
			font-weight: bold;
			font-size: 19px;
		}
		p.contact{
			font-weight: bold;
			font-size: 19px;
		}
		a{
			text-decoration:none;
			color: white;
		}